InheritParentConfig: true
Checks: '
  -cppcoreguidelines-special-member-functions,
  -misc-non-private-member-variables-in-classes,
  -readability-redundant-string-init'
CheckOptions:
  - key:   bugprone-reserved-identifier.AllowedIdentifiers
    value: '__asan_on_error'
